{% extends "navbar.html" %}



{% block content %}

    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}" >Dashboard</a>
            </li>
            <li class="breadcrumb-item active">{{ title }}</li>
        </ol>
        <!-- Example DataTables Card-->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i> All {{ title }}</div>
            <div class="card-body">

                {% if comment_list|length > 0 %}

                    <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                        <thead style="background-color:#e9ecef">
                        <tr>
                            {% for key,value in comment_list.0.items %}
                                <th>{{ key }}</th>
                            {% endfor %}
                            <th></th>
                        </tr>
                        </thead>
                        <tfoot style="background-color:#e9ecef">
                        <tr>
                            {% for key,value in comment_list.0.items %}
                                <th>{{ key }}</th>
                            {% endfor %}
                            <th></th>
                        </tr>
                        </tfoot>
                        <tbody style="background-color:#ffffff">
                        {% for comment in comment_list %}
                            <tr>
                                {% for val in comment.values %}
                                    <td>
                                        {{ val }}
                                    </td>
                                {% endfor %}
                                {% if title == 'User Comments' %}
                                    <td >
                                        <form method="post" target="_self" style="width: 100%">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-primary btn-block" style="background-color: #f44336;" name="removeComment" value="{{ comment.id }}">Remove Comment</button>
                                        </form>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h5>There are no {{ title }} </h5>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}