{% extends "navbar.html" %}


{% block content %}

  <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home' %}" >Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Add Route</li>
      </ol>
        <div class="card">
          <div class="card-header"><i class="fa fa-plus"></i> Add {{ title }}</div>
          <div class="card-body">

            <form method="post" enctype="multipart/form-data" target="_self">
                {% csrf_token %}

                    {% for f in form_t %}
                        <div class="form-group">
                            <label>{{ f.name }}</label>
                            {{ f }}
                        </div>
                    {% endfor %}
                    <div style="width: 10%;">
                        <input type="submit" class="btn btn-primary btn-block" value="OK">
                    </div>
            </form>

          </div>
        </div>

  </div>

{% endblock %}

