{% extends "navbar.html" %}

{% block link %}

    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>

{% endblock %}

{% block content %}
  <div class="container-fluid" >
    <div class="card card-login mx-auto mt-5 " style="float:left">
      <div class="card-header">Add {{ title }}</div>

      <div class="card-body" >
        <form method="post" enctype="multipart/form-data" target="_self">
            {% csrf_token %}

                {% for f in form_t %}
                    <div class="form-group">
                        <label>{{ f.name }}</label>
                        {{ f }}
                    </div>
                {% endfor %}

                <input type="submit" class="btn btn-primary btn-block" value="OK">
        </form>
      </div>
    </div>

    <div class="container-fluid" id="map" style="width: 850px; height: 750px; float:right"></div>

  </div>

{% endblock %}

{% block scripts %}

    <script>
            var point_array="{{ point_array }}";
    </script>

    <script src="../static/js/google_maps.js"></script>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcO0WW_LHs_WEt8fVicVgZCyUOlFyb69o&callback=initMap">
    </script>




{% endblock %}



