{% extends "navbar.html" %}

{% block link %}

    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>

{% endblock %}

{% block content %}
  <div class="container-fluid" >
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home' %}" >Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Add Point</li>
      </ol>
    <div class="row">
        <div class="card card-login col-md-5" style="margin-left: 15px; padding: 0px">
          <div class="card-header"><i class="fa fa-plus"></i> Add {{ title }}</div>

          <div class="card-body" >
            <form method="post" enctype="multipart/form-data" target="_self">
                {% csrf_token %}

                    {% for f in form_t %}
                        <div class="form-group">
                            <label>{{ f.name }}</label>
                            {{ f }}
                        </div>
                    {% endfor %}

                    <input type="submit" class="btn btn-primary btn-block" value="OK">
            </form>
          </div>
        </div>
        <div class="col-md-7" style="padding-right:2px">
            <input id="pac-input" class="controls" type="text" style="height: 40px" placeholder="Search Box">
            <div class="container-fluid" id="map" style="width: 100%; height: 650px;"></div>
        </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}

    <script>
            var point_array="{{ point_array }}";
    </script>

    <script src="../static/js/google_maps.js"></script>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcO0WW_LHs_WEt8fVicVgZCyUOlFyb69o&libraries=places&callback=initMap">
    </script>




{% endblock %}



