{% extends "navbar.html" %}

{% block link %}

    <style xmlns="http://www.w3.org/1999/html">
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>

{% endblock %}

{% block content %}

    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'show_routes' %}">Routes</a>
            </li>
            <li class="breadcrumb-item active">{{ route.Name }}</li>
        </ol>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3" style="padding:10px 10px 10px 40px;">
                    <div class="row">
                        <h5  style= "width:100%">Route Name</h5>
                        {{ route.Name }}
                        <br>
                        <h5  style= "width:100%">Route Description</h5>
                        {{ route.Description }}
                        <br>
                    </div>
                     <img src="{{ route.Image }}" style="max-height: 250px; max-width: 250px;"/>
                    <div class="row">
                        <div class="card text-white bg-primary o-hidden h-100"  style= "margin-top: 20px; width:80%">
                            <div class="card-body">
                                <div class="card-body-icon">
                                    <i class="fa fa-fw fa-map-marker"></i>
                                </div>
                                <div>Route Points</div>
                            </div>
                            <select class="text-black" >
                                {% for point in points %}
                                     <option>{{ point.Name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="card text-white bg-primary o-hidden h-100" style="margin-top: 20px; width:80%">
                            <div class="card-body">
                                <div class="card-body-icon">
                                    <i class="fa fa-fw fa-map-marker"></i>
                                </div>
                                <div class="mr-5">Add Point</div>
                            </div>
                            <select class="text-black" >
                                <option></option>
                                {% for point in all_points %}
                                     <option>{{ point.Name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="container-fluid" id="map" style="height:600px; float:right"></div>
                </div>
            </div>


          <div class="container-fluid"></div>

          <div class="container-fluid" id="map" style="width: 850px; height: 750px; float:right"></div>


        </div>

{% endblock %}

{% block scripts %}
    {% load static %}

    <script>
        var point_array="{{ point_array }}";
    </script>

    <script src="{% static "js/routeMap.js" %}"></script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcO0WW_LHs_WEt8fVicVgZCyUOlFyb69o&callback=initMap">
    </script>



{% endblock %}