{% extends "navbar.html" %}



{% block content %}

    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home' %}" >Dashboard</a>
        </li>
        <li class="breadcrumb-item active">{{ title }}s</li>
      </ol>
      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> All {{ title }}s</div>
        <div class="card-body">

        <div>
            <a class="btn btn-primary" href="{% url add_btn %}" id="toggleNavPosition">Add {{ title }}</a>
        </div>


        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

              <thead>
                  <tr>
                      {% for key in tab_names %}
                          <th>{{ key }}</th>
                      {% endfor %}
                  </tr>
              </thead>
              <tfoot>
                  <tr>
                      {% for key in tab_names %}
                          <th>{{ key }}</th>
                      {% endfor %}
                  </tr>
              </tfoot>
              <tbody>
                {% for route in route_list %}
                    <tr>
                        {% for val in route.values %}
                          <td>
                              {% if title == 'Ap' %}
                                <a href="{% url 'display_route' route.id %}">{{ val }}</a>
                              {% else %}
                                  {{ val }}
                              {% endif %}
                          </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
              </tbody>

            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>

{% endblock %}

